* {
  margin: 0;
  color: #333;
  box-sizing: border-box;
}
ul {
  padding: 0;
  list-style: none;
}
.nav ul li {
  padding: 20px;
}
.li i {
  margin-right: 5px;
  width: 30px;
}
.nav {
  position: fixed;
  left: 0;
  top: 0;
  border-right: 1px solid #ccc;
  height: 100vh;
  background: #f1f1f1;
  z-index: 100;
}
.li:hover {
  background: hsl(0, 0%, 76%);
  cursor: pointer;
}
.li:hover i {
  color: #a43664;
}
.brend {
  text-align: center;
}
.main {
  margin-left: 192px;
}
.row {
  display: flex;
}
.end {
  justify-content: flex-end;
}
.admin-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.header {
  background: #f1f1f1;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.section {
  padding: 50px 30px;
}
.sect {
  max-width:400px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  border-radius: 5px;
}
.sect p{margin: 0 auto;}
.sect .buttons {
  text-align: center;
}
.sect input{width:100%}
form div {
  margin: 30px 0;
}
.btn,
#btn,
#add {
  padding: 10px 20px;
}
.btn:hover,
#btn:hover,
#add:hover {
  background: #a43664;
  color: #f1f1f1;
  cursor: pointer;
}
textarea {
  resize: none;
  height: 150px;
}
label {
  margin: 5px 0;
  display: block;
}

input,
textarea,
select,
button {
  border: none;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  padding: 15px 20px;
  width: 300px;
}

form {
  border-bottom: 1px solid #f1f1f1;
  padding: 20px 0;
}
