* {
  margin: 0;
  color: #333;
  font-family: "M PLUS Rounded 1c", sans-serif;
  box-sizing: border-box;
}
html,
body {
  scroll-behavior: smooth;
}
h1 {
  letter-spacing: 6px;
  color: #a43664;
}
nav {
  padding: 10px 0;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}
.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
ul {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
li {
  padding: 15px;
}
.ul li::after, .ul-mobile li::after {
  content: "";
  width: 0px;
  border-top: 1px solid #a43664;
  transition: 0.5s;
  display: block;
  margin: 0 auto;
}

li:hover::after {
  width: 100%;
}

a {
  text-decoration: none;
}
.logo {
  font-family: "Dancing Script", cursive;
  font-size: 32px;
  letter-spacing: 6px;
  color: #a43664;
}
.icons li i {
  color: #a43664 !important;
}
.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 10px;
}
p {
  margin: 15px 0;
}
.left {
  width: 55%;
  text-align: justify;
}
.right {
  width: 40%;
}
img {
  width: 100%;
}
.categories {
  text-align: center;
}
.bg {
  background: url(https://ld-wt73.template-help.com/wt_prod-23024/images/bg-img-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px 0;
  background-attachment: fixed;
  background-size: cover;
}
footer {
  text-align: center;
  color: #fff !important;
  background: #a43664;
  padding: 40px 0;
}
.inp {
  border: none;
  border: 1px solid #bebdbd;
  background: #f0f0f0;
  resize: none;
  border-radius: 5px;
  padding: 10px;
  width: 80%;
  margin: 10px;
}
.btn,
.btn-user {
  border: none;
  border: 1px solid #a43664;
  background: #a43664;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  width: 40%;
  margin: 10px;
  transition: 0.5s;
}
.btn-user {
  width: 100%;
  margin: 10px auto;
}
.btn:hover,
.btn-user:hover {
  background: #f0f0f0;
  border: 1px solid #a43664;
  color: #a43664;
  cursor: pointer;
}
.btn-user-creat:hover {
  border: 1px solid #a43664;
  background: #a43664;
  color: #fff;
}
.btn-user-creat {
  border: none;
  border-radius: 5px;
  background: #f0f0f0;
  border: 1px solid #a43664;
  color: #a43664;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  margin: 10px auto;
  transition: 0.5s;
}
.row ul {
  font-size: 12px;
  display: block !important;
}
.popup {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-body {
  width: 500px;
  background: #fff;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.popup-body .d-flex {
  align-items: flex-start !important;
}
.popup-body p {
  color: #a43664;
}
.inp-user {
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 10px 5px;
  border: none;
  border: 1px solid #bebdbd;
}

.row-user {
  margin: 10px auto;
}
.center {
  border-left: 1px solid #a43664;
  height: 282px;
  margin: 0 20px;
}
.mt {
  margin-top: 52px;
}
.text-end {
  text-align: right;
  display: block;
}
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 70px;
  margin-top: 90px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 350px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
.swiper-pagination-bullet-active {
  background: #a43664;
}
.d-flex-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.d-flex-nav i {
  display: none;
  color: #a43664;
}
.mobile {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.9);
  animation:anim .5s;
  z-index: 10000;
  width: 100%;
}
@keyframes anim{
  from{width: 0;}
  to{width:100%}
}
#p{color:#fff }
.mobile .ul-mobile li a{color:#fff;}
.mobile .ul-mobile{display: block;}
.row-close{display: flex;justify-content: end;}
.row-close i{font-size: 24px;color:#a43664;margin: 10px;}
@media screen and (max-width: 600px) {
  .d-flex {
    display: block;
  }
  .right,
  .left {
    width: 100%;
  }
  .d-flex-nav i {
    display: block;
  }
.ul {
    display: none !important;
  } 
 
}
