*{margin:0; color:#333}
ul{padding: 0; list-style: none;}
.nav ul li{padding: 20px;}
.li i{margin-right: 5px;width:30px}
.nav{position:fixed;left:0; top:0; border-right:1px solid #ccc; height:100vh; background: #f1f1f1;z-index:100}
.li:hover{background: hsl(0, 0%, 76%);cursor:pointer}
.li:hover i{color:#4fa607}
.brend{text-align: center;}
.main{margin-left: 192px;}
.row{display: flex; }
.end{justify-content: flex-end;}
.admin-img{width:50px; height:50px; border-radius: 50%;}
.header{background: #f1f1f1;padding: 10px;border-bottom:1px solid #ccc;}
.section{padding: 50px 30px; }
form div{margin: 30px 0;}
#btn, #add{padding: 10px 20px;}
#btn:hover, #add:hover{background: #4fa607;color:#f1f1f1;cursor: pointer;}
textarea{resize: none; height:150px}
input, textarea, select{border:none;border:1px solid #f1f1f1; border-radius:5px;padding: 15px 20px; width:300px}
form{border-bottom: 1px solid #f1f1f1;padding: 20px 0}